* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-image: url("/assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.hero {
    width: 100%;
    min-height: 100vh;
    color: #fff;
    position: relative;
}

nav {
    align-items: center;
    line-height: 80px;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
}

.logo a {
    font-size: 3em;
    color: #00986f;
    font-weight: bold;
    padding: 40px;
    text-decoration: none;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

nav li a:hover {
    color: #00986f;
    transition: all 0.4s ease 0s;
}

@media (max-width: 952px) {
    .logo a {
        font-size: 2em;
        padding-left: 50px;
    }
    .nav ul li a {
        font-size: 1.2em;
    }
}

@media (max-width: 858px) {}

.container {
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;
}

.container h1 {
    font-size: 2.5em;
    font-weight: 400;
}

.container a {
    text-decoration: none;
    background: #00986f;
    padding: 10px 25px;
    border-radius: 30px;
    display: inline-block;
    color: #fff;
    font-size: 1.5em;
    margin-top: 30px;
}